*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: initial;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/* Header */



.container-header{
    background-color: white;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.container-logo{
    margin-left:10%;
    margin-right:10%;
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
    cursor: pointer;
}


.container-header img{
    width: 3%;
    height: auto;
    cursor: pointer;
}



.container-nav-menu a{
    font-size: 15px;
}

.container-nav-menu img{
    width: 25px;
}

.container-nav-menu{
    display: flex;
    justify-content: space-between;
    width: 40em;
    margin-right: 10%;
}


main{
    height: 100vh;
}

/* Frete */



.container-frete{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-weight: bold;
}



.container-frete p:nth-child(2){
    margin-left: 1%;
}


.container-frete2{
    margin: 0 10% 0 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    padding-top: 3em;
}

.container-frete2 img{
    width: 100px;
    height: 100px;
}

.container-frete2 p{
    font-size: 1.5em;
    padding-top: 2em;
}






/* Footer*/

.container-footer{
    display: flex;
    margin: 0 10% 0 10%;
    padding-bottom: 8em;
}



.container-footer h3 h4{
    color:rgb(56, 56, 56)
}

.container-footer h4{
    font-size: 2em;
}


.footer-grid1 img{
    padding-top: 1em;
    margin-left: 1em;
    width: 25px;
}

.footer-grid1{
    width: 20em;
}

.footer-grid2{
    display: flex;
    width: 20em;
    flex-direction: column;
    align-items: center;
}
.footer-grid3{
    display: flex;
    width: 20em;
    flex-direction: column;
    align-items: center;
}

.footer-grid4{
    display: flex;
    width: 20em;
    flex-direction: column;
    align-items: center;
}


.container-footer p{
    margin-top: 2em ;
    color: rgb(133, 133, 133);

}

@media screen and (max-width: 414px){
    .container-header{
        width: 100vw;
        display: grid;
        grid: 1fr 1fr / 1fr;
        align-items: center;
        justify-content: center;
        text-align: center;

    }
    .container-nav-menu {
        justify-content: center;
    }
    .container-nav-menu a{
        padding: 5px;
        font-size: 1.2em;
    }
    .container-nav-menu img{
        display: none;
    }
    .container-frete {
        width: 100vw;
    }
    .container-frete p {
        font-size: 0.9em;
        text-align: center;
    }
    .container-frete2 {        
        font-size: 1em;
        display: grid;
        grid: 1fr 1fr/1fr 1fr;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .container-frete2 img{
        width: 3em;
        height: 3em;
        margin: 0;
    }
    #img3,
    #img4 {
        padding: 0;
    }
    .container-frete-img3 {
        padding-top: 1.6em;
    }
    .container-footer {
        margin: 0 auto;
        width: 100vw;
        justify-content: center;
        text-align: center;
    }



}